---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const dataset = await getCollection('dataset')

---

<Layout title="Welcome to TacoFundation">
	<main>
		<h1 class="text-center text-3xl sm:text-4xl md:text-5xl font-extrabold mb-8">
			The TACO Foundation 🌮
		</h1>
		<p class="text-center text-lg mt-4 mb-10">
			Every EO problem deserves a TACO. 
			<a href="https://geoparquet.org/releases/v1.1.0/" class="text-blue-500 text-lg underline hover:text-blue-700">
				Click here to read the full specification
			</a>
		</p>		
	</main>
	
	

	<section aria-label="dataset">
		<div class="px-4 mx-auto max-w-screen-xl">
			<div class="grid gap-6 md:grid-cols-2">
				{
					dataset.map(Collection => {
						const { slug, data } = Collection;
						const { title, img, description } = data;

						 // Agrega un chequeo aquí
						 if (!slug || !data) {
            console.error('Error en collection:', Collection);
            return null; // O maneja el error como desees
						}
	
						return (
							<article class="flex flex-col md:flex-row items-center md:items-start ml-6">
								<a href={`/dataset/${slug}`} class="mb-4 md:mb-0 transition hover:scale-110">
									<img
										transition:name={`img-${slug}`}
										class="mb-4 md:mb-0 mr-0 md:mr-5 w-48 rounded"
										src={`/${img}`}
										alt={title}
									/>
								</a>
								
								<div class="flex flex-col justify-center ml-0 md:ml-5 text-center md:text-left">
									<h2 transition:name={`title-${slug}`} class="mb-2 text-2xl font-bold leading-tight text-white">
										{title}
									</h2>
	
									<p class="mb-4 text-gray-300 max-w-sm">
										{description}
									</p>
								</div>
							</article>
						);
					})
				}
			</div>
		</div>
	</section>
	
</Layout>
