---
import { getCollection, render } from "astro:content";  
import Layout from "../../layouts/Layout.astro";  

export async function getStaticPaths() {
  const dataset = await getCollection("dataset");
  
  console.log("Dataset en getStaticPaths:", dataset);
  
  return dataset.map((collection) => ({
    params: { id: collection.slug }, 
  }));
}

const { id } = Astro.params;
const dataset = await getCollection("dataset");

const Collection = dataset.find((collection) => collection.slug === id);

if (!Collection) {
  throw new Error("Collection no está definida");
}

const { slug, data } = Collection;

if (!data) {
  throw new Error("Data no está definida en la colección");
}

const { title, img, description, huggingface } = data;
const { Content } = await render(Collection);
---
<Layout title={`${title}`}>
  <a href="/" class="hover:underline opacity-70 mb-4">← Back to Previous</a>

  <div class="flex flex-col md:flex-row gap-12">

    <aside class="flex flex-col items-center gap-4 order-1 md:order-none">
      <img transition:name={`img-${slug}`} class="rounded w-72 h-auto" src={`/${img}`} alt={title} />
      
      <div class="flex flex-col items-start gap-3 mt-2">
        
        <!-- Hugging Face -->
        <a href={huggingface} target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
          <img src="/hf-logo.png" alt="Hugging Face" class="w-8 h-8" />
          <span><b>Hugging Face</b></span>
        </a>

      </div>
    </aside>

    <main class="max-w-3xl order-2 md:order-none">
      <h1 transition:name={`title-${slug}`} class="text-5xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert prose-lg">
        <Content />
    </div>
    
    </main>

  </div>
</Layout>
